@color-secondary: #627b8b;
@color-secondary-hover: #394f63;
@gray-dark: #24292e;
@blue: #0366d6;
* {
    box-sizing: border-box;
}
ul,ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
